@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link rel="icon" href="/assets/media/logos/1Bank.png" />


    <title>One Bank</title>

    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />


    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />

    <!--Metronic-->
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="~/assets/css/themes/layout/header/base/light.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/header/menu/light.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/brand/dark.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/aside/dark.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/loader.css" rel="stylesheet" type="text/css" />

    <style>




        .dataTables_wrapper .dataTables_length {
            position: absolute !important;
        }

        .dataTables_wrapper label {
            margin-bottom: 0 !important;
        }

        .dataTables_wrapper .dt-buttons {
            position: absolute !important;
            left: 20% !important;
            margin-bottom: 27px !important;
        }
    </style>
</head>

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

    <div class="d-flex flex-column-fluid" id="index">
        <div class="header py-2 py-lg-4 header-fixed" id="kt_header" style="height: 100px; left: 0;">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-2 justify-content-between" style="width: 100%">
                    <div class="col-3">
                        <img src="/assets/media/logos/1Bank.png" style="width: 110px;" />
                    </div>
                    <div class="row col-6 justify-content-around">
                        <div class="col-3">
                            <span class="font-weight-bolder h2">Cards</span>
                            <i>
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                                    <title>Stockholm-icons / Navigation / Angle-down</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Stockholm-icons-/-Navigation-/-Angle-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) "></path>
                                    </g>
                                </svg>
                            </i>
                        </div>
                        <div class="col-3">
                            <span class="font-weight-bolder h2">Accounts</span>
                            <i>
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                                    <title>Stockholm-icons / Navigation / Angle-down</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Stockholm-icons-/-Navigation-/-Angle-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) "></path>
                                    </g>
                                </svg>
                            </i>
                        </div>
                        <div class="col-3">
                            <span class="font-weight-bolder h2">Loans</span>
                            <i>
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                                    <title>Stockholm-icons / Navigation / Angle-down</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Stockholm-icons-/-Navigation-/-Angle-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) "></path>
                                    </g>
                                </svg>
                            </i>
                        </div>
                        <div class="col-3">
                            <span class="font-weight-bolder h2">Contact</span>
                            <i>
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                                    <title>Stockholm-icons / Navigation / Angle-down</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Stockholm-icons-/-Navigation-/-Angle-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) "></path>
                                    </g>
                                </svg>
                            </i>
                        </div>
                    </div>
                    <div class="col-3 row " style="padding-left: 115px !important; ">
                        <div class="col-6 row justify-content-end">
                            <button onclick="window.location = '/User/RegisterNew'" class="btn btn-lg btn-light-primary font-weight-boldest">Register</button>
                        </div>
                        <div class="col-6">
                            <button onclick="window.location = '/User/Login'" class="btn btn-lg btn-danger font-weight-boldest">Enter IB</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img style="max-width: 100%; max-height: 100%" src="/assets/media/bg/bg-index.jpg" />

    <div style="position: absolute; right: 40px; bottom: 70px; width: 61%; " class="row">
        <span class="text-lowercase text-white-50" style="font-size: 60px">THE BANK FOR YOU,</span>
        <span class="col-12 text-white" style="font-size: 100px">THE BANK FOR ALL</span>
    </div>

    <div style="position: absolute; bottom: 0; text-align: center; width: 100%; background-color: #3f4254; color: white;">&copy; One Bank</div>

    <div id="loader_div" class="loader_d">
        <img src="/assets/media/logos/1Bank.png" width="100px" />
        <div class="loader" style="position: absolute; top: 39%; left: 44.5%;">
            <div></div><div></div><div></div><div></div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
    <script src="~/assets/plugins/global/plugins.bundle.js?v=7.0.5"></script>
    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.5"></script>
    <script src="~/assets/js/scripts.bundle.js?v=7.0.5"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-loading-overlay/2.1.7/loadingoverlay.min.js"></script>

    <script>window.onbeforeunload = function () {
            $('.loader_d').fadeIn();
        }

        window.onload = function () {
            $('.loader_d').fadeOut();
        }</script>

    <script src="~/js/pages/register.js"></script>
</body>
</html>
